<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <button class="mobile-toggle" type="button">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="mobile-overlay"></div>
    <nav id="sidebar" class="sidebar" th:fragment="sidebar">
      <!-- Header -->

      <div class="sidebar-header">
        <div class="sidebar-logo">
          <i class="fa-solid fa-shield-halved"></i>

          <span>DASHBOARD</span>
        </div>

        <button
          id="toggleSidebarBtn"
          class="btn btn-sm btn-dark toggle-btn"
          type="button"
        >
          <i id="toggle-icon" class="fa-solid fa-chevron-left"> </i>
        </button>
      </div>

      <!-- Menu -->

      <ul class="sidebar-menu">
        <li>
          <a
            href="/admin/trang-chu"
            class="menu-item"
            th:classappend="${activePage=='trang-chu'}?' active':''"
          >
            <i class="fa-solid fa-house"></i>

            <span>Trang Chủ</span>
          </a>
        </li>

        <li>
          <a
            href="/admin/quan-ly-user"
            class="menu-item"
            th:classappend="${activePage=='quan-ly-user'}?' active':''"
          >
            <i class="fa-solid fa-users"></i>

            <span>Quản Lý User</span>
          </a>
        </li>

        <li>
          <a
            href="/admin/quan-ly-loai-su-co"
            class="menu-item"
            th:classappend="${activePage=='quan-ly-loai-su-co'}?' active':''"
          >
            <i class="fa-solid fa-triangle-exclamation"></i>

            <span>Quản Lý Loại Sự Cố</span>
          </a>
        </li>

        <li>
          <a
            href="/admin/quan-ly-su-co"
            class="menu-item"
            th:classappend="${activePage=='quan-ly-su-co'}?' active':''"
          >
            <i class="fa-solid fa-file-signature"></i>

            <span>Quản Lý Sự Cố</span>
          </a>
        </li>

        <li>
          <a
            href="/admin/quan-ly-sos"
            class="menu-item"
            th:classappend="${activePage=='quan-ly-sos'}?' active':''"
          >
            <i class="fa-solid fa-bell"></i>

            <span>Quản Lý SOS</span>
          </a>
        </li>

        <li>
          <a
            href="/admin/quan-ly-tru-so"
            class="menu-item"
            th:classappend="${activePage=='quan-ly-tru-so'}?' active':''"
          >
            <i class="fa-solid fa-building"></i>

            <span>Quản Lý Trụ Sở</span>
          </a>
        </li>

        <li>
          <a
            href="/admin/quan-ly-camera"
            class="menu-item"
            th:classappend="${activePage=='quan-ly-camera'}?' active':''"
          >
            <i class="fa-solid fa-camera"></i>

            <span>Quản Lý Camera</span>
          </a>
        </li>
        <li>
          <a
            href="/admin/goi"
            class="menu-item"
            th:classappend="${activePage=='quan-ly-goi'}?' active':''"
          >
            <i class="fa-solid fa-box"></i>

            <span>Quản Lý Gói SOS</span>
          </a>
        </li>

        <li>
          <a
            href="/admin/quan-ly-qua"
            class="menu-item"
            th:classappend="${activePage=='quan-ly-qua'}?' active':''"
          >
            <i class="fa-solid fa-gift"></i>

            <span>Quản Lý Quà</span>
          </a>
        </li>

        <li>
          <a
            href="/admin/quan-ly-doanh-thu"
            class="menu-item"
            th:classappend="${activePage=='quan-ly-doanh-thu'}?' active':''"
          >
            <i class="fa-solid fa-money-bill-wave"></i>

            <span>Quản Lý Doanh Thu</span>
          </a>
        </li>

        <!-- Logout -->

        <div class="logout-wrapper">
          <form th:action="@{/logout}" method="POST">
            <button
              id="adminLogoutBtn"
              type="submit"
              class="menu-item logout-btn"
            >
              <i class="fa-solid fa-right-from-bracket"></i>

              <span>Đăng xuất</span>
            </button>
          </form>
        </div>
      </ul>
    </nav>
  </body>
</html>
