<div th:fragment="sidebar(activePage)">
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2
        style="
          font-size: 1.35rem;
          margin: 0;
          font-weight: 700;
          display: flex;
          align-items: center;
          gap: 10px;
          color: #fff;
          line-height: 1.2;
        "
      >
        <i class="fa-solid fa-shield-heart" style="color: #fff"></i>
        <span>SOS Admin</span>
      </h2>
    </div>

    <nav class="nav-menu">
      <a
        href="/truso/trang-chu"
        th:class="${activePage == 'map'} ? 'nav-item active' : 'nav-item'"
      >
        <i class="fa-solid fa-map-location-dot"></i> Bản đồ khẩn cấp
      </a>

      <a
        href="/truso/quan-ly-cuu-tro"
        th:class="${activePage == 'pending'} ? 'nav-item active' : 'nav-item'"
      >
        <i class="fa-solid fa-clock-rotate-left"></i> Đang chờ cứu trợ
      </a>

      <a
        href="/truso/dang-cuu-tro"
        th:class="${activePage == 'doing'} ? 'nav-item active' : 'nav-item'"
      >
        <i class="fa-solid fa-truck-medical"></i> Đang cứu trợ
      </a>
      <a
        href="/truso/lich-su-cuu-tro"
        th:class="${activePage == 'history'} ? 'nav-item active' : 'nav-item'"
      >
        <i class="fa-solid fa-list-check"></i> Lịch sử cứu trợ
      </a>
    </nav>
  </aside>
</div>
